body {
    display:flex;
    flex-flow: column wrap;
    min-width: 960px;
    max-width: 1200px;
    margin: 0 auto; /* this was important to figure out*/
}
.header, .one, .two, .three { /*Extends the background color of each flexbox row to the full edges of the main body container*/
    margin: 0 -9999rem;
    padding: 12px 9999rem;
}


.header {
    display:flex;
    background-color: #1f2937;
    color: white;
    font-family: Hero;
    align-items: center;
}

.left-header{
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

li{
    display:inline;
}

.one, .one-left, .one-right {
    display:flex;
    background-color: #1f2937;
    color: white;  
}
.one{
    justify-content: space-around;
}

.one-left{
    margin-right: auto;
    max-width: 500px;
}
.one-left, .one-right {
    flex-flow: column nowrap;
    justify-content: center;
}

h1{
    font-size: 48px;
    font-weight: bold;
}

.left-header{
    font-size: 30px
}

.one-right img{
    max-width: 430px;
}

button{
    min-height: 30px;
    max-width: 100px;
    background-color: #3882F6;
    color: white;
    border-radius: 12px;
    border: none;
}
 